@use "../helpers" as *;

.button {
  z-index: 2;
  position: absolute;
  border-radius: rem(15);
  color: var(--color-black);
  padding: rem(8) rem(10);
  background-color: var(--color-light-gray);
  border: none;
  margin: rem(20);

  @include hover {
    background-color: var(--color-hover-gray);
  }

  @include active {
    background-color: var(--color-active-gray);
  }
}

.filter-button {
  top: 0;
  left: 0;
  font-weight: 500;
}

.nav-button {
  top: 0;
  right: 0;
  font-size: rem(25);

  @include square(#{rem(40)});
  @include flex-center;
}
