@use "../helpers" as *;

.button {
  z-index: 2;
  position: absolute;
  border-radius: rem(15);
  color: var(--color-black);
  padding: rem(8) rem(10);
  font-weight: 500;

  background-color: var(--color-light-gray);
  border: none;

  @include hover {
    background-color: var(--color-hover-gray);
  }

  @include active {
    background-color: var(--color-active-gray);
  }
}

.open-close-button {
  font-size: rem(25);

  @include square(#{rem(40)});
  @include flex-center;
}
