@use "../helpers" as *;

.form {
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(50);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    padding-bottom: rem(40);
  }

  &__element {
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  &__label {
    font-size: rem(18);
    font-weight: 500;
    align-self: flex-start;
  }

  &__label span {
    color: var(--color-red);
  }

  &__text-field {
    width: rem(450);
    height: rem(50);
  }

  &__file-field {
    width: rem(300);
  }

  &__textarea {
    width: rem(750);
    height: rem(200);
  }

  &__button {
    position: relative;
    align-self: flex-end;
    width: rem(150);
    height: rem(50);
    margin-top: rem(-50);
  }

  &__error {
    color: var(--color-red);
    font-size: rem(14);
    display: none;

    &:not(:empty) {
      display: block;
    }
  }

  &__message {
    align-self: flex-end;
    margin-top: rem(-30);
    display: none;

    &.success {
      color: var(--color-green);
      display: block;
    }

    &.error {
      color: var(--color-red);
      display: block;
    }
  }
}
