@use "../helpers" as *;

.navigation {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: rem(660);
  width: rem(150);
  margin-top: rem(5);
  margin-right: rem(5);
  display: flex;
  transition-duration: var(--transition-duration-medium);
  transform: translateX(rem(200));

  @include flex-center;

  &__button {
    top: 0;
    right: 0;
    margin: rem(20);

    &.is-opened {
      transform: rotateZ(180deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(140);
  }

  &__link {
    font-size: rem(20);
    text-align: center;
    padding-inline: rem(10);
  }

  &.is-opened {
    transform: translateX(rem(0));
  }
}
