@use "helpers" as *;

:root {
  --color-white: #d9dadb; // for nav's text
  --color-black: #000000; // for button's text
  --color-gray: rgb(71, 74, 81);
  --color-gray-transparent: rgb(71, 74, 81, 0.9); // for navigation
  --color-light-gray: rgb(181, 184, 177); // for buttons
  --color-hover-gray: rgb(120, 133, 139);
  --color-active-gray: rgb(187, 187, 187);
  --main-map-color: rgb(41, 51, 69);

  --font-family-base: "Rubik", sans-serif;

  --transition-duration-short: 0.2s;
  --transition-duration-medium: 0.5s;
}
